
.contato{
  display: block;
  margin: 0 auto;
  max-width: 1440px;
  align-items: center;
  padding: 60px 40px;
}

#contatoesquerda{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 20px 50px;
  background-color: #212223;
  gap: 20px;
}

#contatoesquerda h6{
  font-size: 1.75rem;
  font-weight: 700;
  color: #b3b1b1;
}

#contatoesquerda input , #contatoesquerda textarea{
  font-size: 1.0rem;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid #2b0f1669;
  background-color: #3B3B3B;
  
}

#contatoesquerda button{
  background: #EF587A;
border-radius: 6px;
box-shadow: none;
border-style: none;
border-color: unset;
font-weight: 700;
color: white;
font-size: 1rem;
padding: 10px 10px;
width: 45%;
align-self: flex-end;
}
#contatoesquerda input::-webkit-input-placeholder , #contatoesquerda textarea::-webkit-input-placeholder{
  color: #6B6B6B;
  position: relative;
  left: 20px;
  margin-left: 20px;
}


#contatodireita{
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

#contatodireita p{
  font-size: 1.0rem;
  font-weight: 700;
  color: #ffffffea;
  margin-left: 20px;
}

#contatodireita h3{
  font-size: 2rem;
  font-weight: 700;
  color: #EF587A;
} 

#contatodireita h2{
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
}

#contatodireita span{
  font-size: 1rem;
  font-weight: 500;
  color: #fffafa81;
}


.sociais{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  color: white;
  gap: 20px;
  font-size: x-large;
}


.sociais a{
  color: #ffffff
}
.sociais a:hover{
  color: #2b0f1669;
  transform: scale(1.1);
}

.sociais i{
  color: #EF587A;
}

.sociais i:hover{
  color: white;
  transform: scale(1.25);
}

textarea , input{
  padding: 10px;
}


/* //tablet */
@media screen and (max-width: 1024px){
#contatodireita{
  margin-left: 2px;
}

.contato_container{
  display: flex !important;
  flex-direction: column;
}
}

/* //celular */
@media screen and (max-width: 768px){

  #contatodireita{
    margin-left: 2px;
  }

  #contatoesquerda{
    padding: 10px 10px;
    
  }
  .sociais{
    margin: initial
    
  }

  .contato{
    padding: 20px 10px;
  }
  textarea , input{
    padding: 5px;
  }
  #contatoesquerda input::-webkit-input-placeholder , #contatoesquerda textarea::-webkit-input-placeholder{
    color: #6B6B6B;
    position: relative;
    left: 10px;
    margin-left: 20px;
  }
}


